<!doctype html>
<html>
   <body>
                     <strong>Events</strong>
      <table border = 1>
         <thead>
            <td>Time Logged</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Threat Domain</td>
            <td>Threat Type</td>
            <td>Severity</td>
            <td>Tag</>
            <td>Destination Country</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["Time Logged"]}}</td>
               <td>{{row["Source address"]}}</td>
               <td>{{row["Destination address"]}}</td>
               <td>{{row["Threat/Content Name"]}}</td>
               <td>{{row["ThreatType"]}}</td>
               <td>{{row["Severity"]}}</td>
               <td>{{row["tag"]}}</td>
               <td>{{row["Destination Country"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/" >Go back to home page</a>

   </body>
</html>
